body{
    background-color: #f9fafb;
}

#adminLayout{
    --layout-size: 260px; 
    display: flex;
    /* flex-wrap: wrap; */
}


/* Header */
#adminHeader{
    position: absolute;
    top: 0;
    right: 0;
    left: var(--layout-size);
    background: var(--bs-white);
}

#adminSidebar{
    width: var(--layout-size);
    flex-shrink: 0;
}

#adminMain{
    flex-grow: 1;
    margin-top: 65px;
}


#adminFooter{

}


/* Main */


/* footer */