@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
font-family:'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 15px;
  text-align: left;
  font-size:12px;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 220px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #d4740d;
  color:000;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('../img/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
    color: #fff;

}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #cacaca url('../img/caret.png') no-repeat;
  background-position: 90% 195%;
  color:#000;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 23px 11px 12px;
  text-decoration: none;
  color: #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #3d4c54;
  color: #fff;
}
