@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	line-height:21px;
	color: #333333;
}
p {
	margin:0;
	padding:0 0 10px 0;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #F1F1F1; }
a:link {
	color: #3D4C54;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #3D4C54;
}
a:hover {
	text-decoration: none;
	color: #999999;
}
a:active {
	text-decoration: none;
	color: #999999;
}
.headtitles { 	
	font-size: 20px;
	color:#a05404;
	line-height:40px;
}
ul, li {
	margin:0 0 0 15px;
	padding:0 0 2px 0;
	}

ol, li {
	margin:0 0 0 15px;
	padding:0 0 3px 0;
	}


.topbg {
	border-top:10px solid #3d4c54;
	width:100%;
	}
.logo {
	background: #FFFFFF url(../tob2_imgs/tricolor.jpg) right no-repeat;
	width:100%;
	}
.logolft {width:360px; height:101px; float:left; 	margin:0;	padding:0;}

.logo p {
	width:360px;
	height:101px;
	margin:0;
	padding:0;
	}
	
.topRgtPart {float:right; width:500px; height:101px;  	background: #FFFFFF url(../tob2_imgs/tricolor.jpg) right no-repeat;
}

ul.topLink { float:right; margin-top:35px; }
ul.topLink li { text-transform:uppercase; display:inline-block; float:left; text-align:center; width:auto; }
ul.topLink li span{ width:25px; height:21px; text-align:center; vertical-align:middle; }

ul.topLink li a { color:#666; padding-bottom:1px; line-height:24px; margin:0 10px; font-size:11px; }
.hnd {
	font-size:13px;
	}
ul.topLink li a:hover { color:#000; }
ul.topLink li a.home { margin-right:20px; padding-bottom:0px; background:url(../images/homeIcon.png) no-repeat; height:20px; width:20px; text-indent: -9999px; float:left; display:block; padding-bottom:0px;}
ul.topLink li a:hover.home {background:url(../images/homeIconHover.png) no-repeat; border-bottom:none;}
ul.social {float:right; margin-top:40px; padding-right:10px; padding-left:0; margin-left:10px;}
ul.social li {margin-left:7px; float:left; display:inline-block; height:34px;}
ul.social li a:hover img { opacity:0.5; filter: alpha(opacity=50); }
	
	
