body{
    background-color: #f9fafb;
}

.tox-silver-sink .tox-notifications-container{
    display: none !important;
    visibility: hidden !important;
    position: fixed !important;
    z-index: -999 !important;
    top: -1000px !important;
}

.btn:not(.btn-sm, .btn-xs, .btn-link, .icon-btn) {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-size: 1.1rem;
    --bs-btn-border-radius: .5rem;
    font-weight: 500;
}

.btn.icon-btn{
    --bs-btn-padding-x: 6px;
    --bs-btn-padding-y: 5px;
}

.admin-title{
    font-size: 1.6rem;
    color: var(--bs-dark);
    margin-bottom: 1rem;
}

#adminNav ul > li > a{
    padding: 8px 12px;
    border-radius: 6px;
    display: block;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#adminNav .btn-group{
    display: flex;
}

#adminNav{
    height: calc(100vh - 70px);
    position: sticky;
    top: 0px;
}

#adminNav ul li a:hover{
    background-color: var(--lightBeige);
    color: var(--goldenBrown);
}

.dropdown-toggle::after{
    content: '\e315' !important;
    /* position: absolute;
    top: 16px;
    right: 3px; */
    width: 10px;
    color: inherit;
}

#adminLayout{
    --layout-size: 260px; 
    display: flex;
    /* flex-wrap: wrap; */
}


/* Header */
#adminHeader{
    position: absolute;
    top: 0;
    right: 0;
    left: var(--layout-size);
    background: var(--bs-white);
}

#adminSidebar{
    width: var(--layout-size);
    flex-shrink: 0;
    z-index: 9;
    position: relative;
}

#adminMain{
    flex-grow: 1;
    margin-top: 65px;
    padding: 1rem;
    width: calc(100vw - 280px);
}



#adminLogin .form-section{
    max-width: 400px;
    margin: auto;
}


#adminTab .nav-tabs .nav-link{
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-tabs-link-active-color: var(--goldenBrown);
    font-weight: 600;
}

.nav-tabs{
    position: relative;
    z-index: 1;
    top: 1px;
}
.tab-content{
    padding: 1rem;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-gray-300);
}

/* Main */


/* footer */